/* add css styles here (optional) */

.mini-editor-container {
  position: relative;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  width: 430px;
  height: 300px;  /* 当height改变时，editor-textarea 相应变化 */
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

/* 去掉获取焦点时的蓝色边框 */
.editor-textarea:focus {
  outline: none;
}

.editor-textarea {
  padding: 4px;
  height: 258px; /* 200-40-2 */
  box-sizing: border-box;
  overflow: scroll;
}

/* 工具条 */
.editor-toolbar {
  display: flex;
  align-items: center;
  padding-left: 4px;
  padding-right: 4px;
  height: 40px;
  box-sizing: border-box;
  background-color: #fafafa;
  border-bottom: 1px solid #d9d9d9;
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -1px;

  background-color:#fff;
  width: 80%;
  max-width: 300px;
  padding: 20px 0 0;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  font-size: 0;
}

.modal-form::after {
  width: 100px;
  height: 100px;
  z-index: -1;
  background-color: #ccc;
}

.modal-form label {
  width: 80px;
  display: inline-block;
  font-size: 14px;
}

.modal-form div {
  background-color: #fff;
  margin-bottom: 10px;
}

.modal-form button:first-child {
  margin-right: 16px;
}

/* button input  */
.mini-editor-container button {
  color: rgba(0, 0, 0, 0.65);
  height: 32px;
  padding: 4px 15px;
  border-radius: 2px;
  background-color: #fff;
  border-color: #d9d9d9;
  cursor: pointer;
}

.mini-editor-container button:hover {
  /* #36cfc9 */
  color: #36cfc9;
  background-color: #fff;
  border-color: #36cfc9;
}

.mini-editor-container button:focus {
  outline: none;
}

.mini-editor-container button[disabled] {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.mini-editor-container input {
  font-size: 14px;
  line-height: 1.45px;
  padding: 4px 6px;
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
}

.mini-editor-container input:focus {
  border-color: #36cfc9;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}